node_modules/
.env
# Local Netlify folder
.netlify
LinkedinData/
data/knowledge_base_old.txt
data/knowledge_base.json
.gitignore
test/
data/optimize_kb.py
data/knowledge_base_new.json
data/knowledge_base_18Apr2025.txt